body, html {
  height: 100%;
}

body{
  /* Center and scale the image nicely */
  justify-content: center;
  align-items: center;  
}

body::before{
  /* The image used */
  background-image: url("./../../res/images/Back.jpg");
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: block;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.card{
  background-color: rgba(255, 255, 255, 0.8) !important;
}
