.loginBackground, .registrationBackground{
  justify-content: center;
  align-items: center;  
}

.loginBackground::before{
  background-image: url("./../../res/images/Back.jpg");
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: block;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.registrationBackground::before{
  background-image: 	url("./../../res/images/BackRegistretion.jpg");
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: block;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.cardOpacity{
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.card-header i:hover{
     background-color:rgba(185,227,245, 0.5);
     border-radius: 50px;
     margin:-5px -10px;
     padding:5px 10px;
}

footer ul>li:hover a{ color: #FFC107; text-decoration: none;}

footer ul>li a {
    color: #FFFFFF;
    text-decoration: none;
}
