.registrationBackground{
  justify-content: center;
  align-items: center;
}

.loginBackground{
  background-image: url("./../../res/images/Back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.registrationBackground::before{
  background-image: 	url("./../../res/images/BackRegistretion.jpg");
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: block;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.card-header>span i:hover{
     background-color:rgba(185,227,245, 0.5);
     border-radius: 50px;
     margin:-5px -10px;
     padding:5px 10px;
}

.dashboardFooter ul>li:hover a,
.footer ul>li:hover a{ color: #FFC107; text-decoration: none;}

.footer ul>li a {
    color: #FFFFFF;
    text-decoration: none;
}

.dashboardFooter ul>li a{
    color: #043353;
    text-decoration: none;
}

.badge-counter {
        position: absolute;
        transform: scale(0.7);
        transform-origin: top right;
        right: .75rem;
        margin-top: -.10rem;
}

.modalSteps { overflow: hidden; position: relative; margin-top: 20px; }
.modalProgress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #DDDDDD; }
.modalProgressLine { position: absolute; top: 0; left: 0; height: 1px; }
.modalStep { position: relative; float: left; width: 33.333333%; padding: 0 5px; }
.modalStepIcon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #DDDDDD;
	font-size: 16px; color: #FFFFFF; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.modalStep.activated .modalStepIcon {
	background: #FFFFFF; border: 1px solid #043353; color: #043353; line-height: 38px;
}
.modalStep.active .modalStepIcon {
	width: 48px; height: 48px; margin-top: 0; background: #043353; font-size: 22px; line-height: 48px;
}
.modalStep p { color: #ccc; }
.modalStep.activated p { color: #043353; }
.modalStep.active p { color: #043353; }
